<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial - AVA</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container container-inicial">
        <h1 class="titulo">Bem-vindo ao projeto AVA</h1>
        <p>Feito por Alison Bruno Martires Soares</p>
        
        <div class="botoes">
            <a href="/cadastro_form" class="btn-cadastro">Cadastrar</a>
            <a href="/login_form" class="btn-login">Login</a>
        </div>
    </div>
</body>
</html>
